@page "/friends"

<PageTitle>Friends</PageTitle>

<div class="friends-container">
    <img src="images/friends.png" alt="Friends" class="friends-image" />
    <h2>Connect with your friends and share your experiences!</h2>
    <button class="add-friends-button">Add your friends +</button>
</div>
