@page "/friends"

<div class="friends-container">
    <img src="images/friends.png" alt="Friends" class="friends-image" />
    <h2>Connect with your friends and share your nutritional summaries, your favorite recipes, and more!</h2>
    <button class="add-friends-button">Add your friends +</button>
</div>
